<h2> Description of the  <%=$t %> table  </h2>
<ol>
<% @r.each do |s| %>

<li> <%=s %> </li><br/>

<% end %>
</ol>
<br/>
<% c = 0 %>

<h2> Content of the  <%=$t %> table  </h2>
<% @res.each do |key,values| %>
<table border ="2">
	<% if c == 0 %>
	 <tr><th> <%=key.keys %> </th></tr>
     <% c = c+ 1 %>
    <% else %>
     <tr> <td> <%=key.values %> </td></tr>
    <% end %>
 <% end %>
</table>
<br><br>
<ol>
	<li><a href="/show_database">Click here to see the list of databases</a></li><br>
	<li><a href="/insert_values">click here to insert values into the table</a></li>

</ol>